@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: block;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('./fonts/Inter.var.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: block;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url('./fonts/Inter-italic.var.woff2') format('woff2');
  }
  *,
  html,
  body {
    font-family: 'Inter var', 'Inter', Arial, Helvetica, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
}

@layer components {
  .fonts-inter {
    font-family: 'Inter var', 'Inter' !important;
  }
}
